*.o
Makefile.def
alink
alink.msg
alink.rsc
as.msg
as.rsc
asl
cmdarg.msg
cmdarg.rsc
ioerrs.msg
ioerrs.rsc
mkdepend
p2bin
p2bin.msg
p2bin.rsc
p2hex
p2hex.msg
p2hex.rsc
pbind
pbind.msg
pbind.rsc
plist
plist.msg
plist.rsc
rescomp
tools.msg
tools.rsc
